body{
	background-image: url("scr.jpg");
	color: #ffffff;
	font-family: 'Cuprum', sans-serif;
	font-size: 20px;
}

#container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.rectangle{
	width: 960px;
	margin: 20px;
	text-align: center;
}

.square{
	width: 50%;
	float: left;
}

#logo{
	text-align: left;
	float: left;
	font-family: 'Titillium Web', sans-serif;
	font-size: 70px;
	width: 600px;
}
#zegar{
	text-align: left;
	float: left;
	font-family: 'Titillium Web', sans-serif;
	font-size: 70px;
}

.tile1{
	margin: 10px;
	text-align: center;
	width: 230px;
	height: 142px;
	background-color: #3095d3;
	float: left;
	line-height: 170%;
}
.tile1:hover{
	background-color: #2084c2;
}
.tile11{
	margin: 10px;
	text-align: center;
	width: 230px;
	height: 142px;
	background-color: #facc14;
	float: left;
	line-height: 170%;
}
.tile11:hover{
	background-color: #d4a218;
}
.tile2{
	text-align: center;
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #666666;
	float: left;
	line-height: 160%;
}
.tile2:hover{
	background-color: #555555;
}

.tile3{
	text-align: center;
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #1bcc20;
	float: left;
	line-height: 160%;
}
.tile3:hover{
	background-color: #17b01c;
}

.tile4{
	text-align: center;
	margin: 10px;
	width: 420px;
	height: 82px;
	background-image: url("gora.jpg");
	font-size: 26px;
	padding: 30px;
	line-height: 150%;
}

.tile5{
	margin: 10px;
	width: 420px;
	height: 244px;
	background-color: #8a00c1;
	text-align: justify;
	padding: 30px;
}
.tile55{
	float: left;
	text-align: left;
	width: 180px;
	height: 234px;
	margin-top: 10px;
}
.tile56{
	height: 224px;
	width: 180px;
	float: left;
	margin-left: 60px;
	margin-top: 20px;
}
.yt{
	margin: 10px;
	width: 75px;
	height: 82px;
	background-color: #d3c8e3;
	float: left;
	padding: 30px 15px 30px 15px;
}
.yt:hover{
	background-color: #b9afc7;
}

.fb{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #4668b3;
	float: left;
	text-align: center;
}
.fb:hover{
	background-color: #3557a2;
}

.g{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #d95333;
	float: left;
	text-align: center;
}
.g:hover{
	background-color: #c84222;
}
.t{
	margin: 10px;
	width: 65px;
	height: 102px;
	background-color: #3095d3;
	float: left;
	text-align: center;
	align: top;
	padding: 20px;
	font-size: 80px;
	font-weight: bold;
}
.t:hover{
	background-color: #2084c2;
}
a.tilelink{
	color: white;
	text-decoration: none;
	display: block;
	width: 230px;
	height: 142px;
}

a.tilelink2{
	color: white;
	text-decoration: none;
	width: 105px;
	height: 142px;
}

a.logo{
	color: white;
	text-decoration: none;
}

h1{
	text-decoration: bold;
	font-size: 24px;
	margin: 0;
	line-height: 0;
}
